<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Angular Product App</title>
</head>
<body>
  <div class="container" ng-app="goodsApp" ng-controller="mainController">

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"> <i class="fa fa-search"></i>
          </div>
          <input type="text" class="form-control" placeholder="Search product" ng-model="searchItem.name"></div>
          <!--<button type="button" class="btn" data-toggle="modal" data-backdrop="static" data-target="#myModal">Add new</button>-->
          <button ng-click="changeModal(null)" class="btn btn-default" data-backdrop="static">Add new</button>
        </div>
      </form>

      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <td>
              <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                Price
                <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a>Actions</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="goods in products | orderBy:sortType:sortReverse | filter:searchItem">
            <td class = "name-product">
              <a ng-click="infoModal(goods)">{{ goods.name }}</a>
              <a class = "countGoods">{{ goods.count }}</a>
            </td>
            <td>{{ goods.price | currency }}</td>
            <td>
              <!--<button ng-click="editProduct(goods)" type="button" class="btn" data-toggle="modal" data-backdrop="static" data-target="#myModal">Edit</button>-->
              <button ng-click="changeModal(goods)" class="btn btn-default" data-backdrop="static">Edit</button>
              <button ng-click="deleteModal(goods)" class="btn btn-default" data-backdrop="static">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Add/Edit modal -->
      <modal id="modalEdit" title="Product" visible="modalShown" data-backdrop="static">
        <form name="myForm" ng-controller="validateCtrl" ng-submit="submitForm()" novalidate>

          <div class="form-group">
            <label for="name">Name product:</label>
            <input name="name" type="text" class="form-control col-sm-6"" id="nameModal" placeholder="Enter name" ng-model="nameValid" name-validator/>
            
            <p ng-if="myForm.name.$error.nameValidator" class="help-block .col-md-6">You name is required.</p>

            <!--<span ng-show="form.name.$error.lengthF">Field should have length from 1 to 15 words!</span>
            <span ng-show="form.name.$error.space">Field shouldn't consists of only spaces!</span>-->
          </div>

          <div class="form-group">
            <label for="email">Supplier email:</label>
            <input type="email" class="form-control" name="email" id="emailModal" placeholder="Enter email" ng-required="isEmailRequired" ng-model="user.email" required/>
            <span ng-show="myForm.email.$error.required">Email is required.</span>
            <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            <!--<span ng-show="myForm.overwrittenEmail.$error.email">This email format is invalid!</span><br>-->
          </div>

          <div class="form-group">
            <label for="count">Count:</label>
            <input type="number" class="form-control" id="countModal" placeholder="Enter count" />
          </div>

          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="priceModal" placeholder="Enter price" />
          </div>
          <button type="submit" id="doneProd" class="btn btn-default" ng-disabled="myForm.$invalid"> Save </button>
        </form>
      </modal>

      <!-- Info modal -->
      <modal id="modalInfo" title="Product" visible="modalInfoShown" data-backdrop="static">
        <form name="myForm" role="form">
          <div class="form-group">
            <label for="#nameInfo">Name:</label>
            <label id="nameInfo"></label>
          </div>
          <div class="form-group">
            <label for="#emailInfo">Supplier email:</label>
            <label id="emailInfo"></label>
          </div>
          <div class="form-group">
            <label for="#countInfo">Count:</label>
            <label id="countInfo"></label>
          </div>
          <div class="form-group">
            <label for="#priceInfo">Price:</label>
            <label id="priceInfo"></label>
          </div>
        </form>
      </modal>

      <!-- Delete modal -->
      <modal id="modalDelete" class="small-modal" title="Are you sure?" visible="modalDeleteShown" data-backdrop="static">
        <form role="form">
          <label id="question"></label>
          <div >
            <button type="submit" id="yesDelete" class="btn btn-default">Yes</button>
            <button type="button" id="noDelete" class="btn btn-default">No</button>
          </div>
        </form>
      </modal>

    </div>
    <script src="app.js"></script>
  </body>
  </html>